<div class="col-md-6 pessoa-container">
    <h2 class="text-center">Edit pessoa</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="hidden">
        <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id">
      </div>
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" formControlName="nome" placeholder="nome" name="nome" class="form-control" id="nome">
      </div>
  
      <div class="form-group">
        <label for="sexo">sexo:</label>
        <input type="text" formControlName="sexo" placeholder="sexo" name="sexo" class="form-control" id="sexo">
      </div>


      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" formControlName="email" placeholder="email" name="email" class="form-control" id="email">
      </div>
  
      <div class="form-group">
        <label for="dataNascimento">Data nascimento:</label>
        <input type="date" formControlName="dataNascimento" placeholder="dataNascimento" name="dataNascimento" class="form-control" id="dataNascimento">
      </div>
  
      <div class="form-group">
        <label for="naturalidade">Naturalidade:</label>
        <input type="text" formControlName="naturalidade" placeholder="naturalidade" name="naturalidade" class="form-control" id="naturalidade">
      </div>


      <div class="form-group">
        <label for="nacionalidade">Nacionalidade:</label>
        <input type="text" formControlName="nacionalidade" placeholder="nacionalidade" name="nacionalidade" class="form-control" id="nacionalidade">
      </div>
  
      <div class="form-group">
        <label for="cpf">Age:</label>
        <input type="number" formControlName="cpf" placeholder="CPF" name="cpf" class="form-control" id="cpf">
      </div>
  
      <button class="btn btn-success">Update</button>
    </form>
  </div>